/* GLOBAL */
body {
    font-family: 'Roboto';
    margin: 0;
    background-color: #FFFAA0;
}

.content {
    margin-top: 58px;
}

.page-title {
    position: fixed;
    left: 0;
    z-index: 100000;
    padding: 10px;
    font-size: 40px;
}

.menu{
    width: 100%;
    position: fixed;
    background-color: #FFFAA0;
    top: 0;
    left: 0;
    text-align: right;
    z-index: 10000;

    button {
        background-color: grey;
        border: none;
        color: white;
        padding: 15px 32px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #008CBA;
    }
}

.set {
    background-color: #c3d97c;
    margin-bottom: 10px;
}

.set-container {
    position: sticky;
    background-color: #c3d97c;
    margin-bottom: 5px;
    top: 110px;
    padding: 10px;
    z-index: 1000;
}

.set-name {
    font-size: 30px;
    vertical-align: middle;
    display: inline-block;
}

.set-info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;

    div {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
    }
}

.hide-set {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    margin-left: 10px;

    button {
        background-color: grey;
        border: none;
        color: white;
        padding: 5px 8px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }

    button:hover {
        background-color: #008CBA;
    }
}

.card {
    width: 183.5px;
    height: 286px;
    display: inline-block;
    margin-left: 8px;
    margin-bottom: 10px;
    position: relative;
}

.card-image {
    width: 183.5px;
    height: 256px;
    display: block;

    img {
        width: 183.5px;
        height: 256px;
    }
}

.card-name {
    width: 183.5px;
    margin-top: 3px;
    height: 25px;
    display: block;
}

.filters {
    height: 52px;
    background-color: #aacf4c;
    position: sticky;
    top: 58px;
    z-index: 10000000000;
}

.filter {
    padding: 10px;
    font-size: 25px;
    display: inline-block;

    input {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        accent-color: #FFC300;
        background: red;
        border: none;
    }

    select {
        width: 100px;
        height: 20px;
        font-size: 16px;
        font-weight: bold;
        vertical-align: middle;
        background: #FFC300;
        border: none;
        border-radius: 10px;
    }
}

.global-stats {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: transparent;
    z-index: 100000000;
    font-size: 30px;
}

.global-stats-element {
        display: inline-block;
        vertical-align: middle;
        margin-right: 50px;
}

.missing-card {
    opacity: 50%;
}

.copy-clipboard {
    position: fixed;
    z-index: 10000000000;
    top: 65px;
    right: 20px;

    button {
        background-color: grey;
        border: none;
        color: white;
        padding: 3px 10px 5px 10px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: lightblue;
        color: black;
    }
}



/* COLLECTION */
.set-card-count {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.clickable-card {
    background-color: transparent;
    border: none;
    padding: 0;
    text-align: left;
    font-family: 'Roboto';
    font-size: 16px;
}

.save-collection {
    position: fixed;
    width: 100%;
    bottom: 15px;
    text-align: center;
    z-index: 100000;

    button {
        background-color: darkblue;
        border: none;
        color: white;
        padding: 15px 32px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: lightblue;
        color: black;
    }
}

.card-costs {
    width: 183.5px;
    height: 20px;
    position: absolute;
    display: flex;
    justify-content: right;
    color: rgba(0, 0, 0);
    font-size: 15px;
    top: 245px;
    left: 0;
    z-index: 10;
    font-size: 10px;
    font-weight: bold;

    .trade {
        width: 100px;
        display: inline-block;
        text-align: left
    }

    .pack {
        width: 83.5px;
        display: inline-block;
        text-align: right
    }
}

.card-counter {
    width: 183.5px;
    height: 256px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    font-size: 60px;
    top: 0;
    left: 0;
    z-index: 10
}

.card-pack-name {
    width: 183.5px;
    height: 20px;
    position: absolute;
    display: flex;
    justify-content: right;
    color: rgba(0, 0, 0, 0.9);
    font-size: 15px;
    top: 230px;
    left: 0;
    z-index: 10
}

.recyclable-tradable {
    border: 3px solid #b20d78;
    border-radius: 10px;
}

.total-trade-points {
    padding: 10px;
}