/* VARIABLE */
:root {
  --primary-1: #F4EDD3;
  --primary-2: #A5BFCC;
  --secondary-1: #7E99A3;
  --secondary-1-hover: #008CBA;
  --ok: #80EF80;
  --ko: #D84040;
  --highlight: #b20d78;
  --font-color-1: black;
  --font-color-2: white;
}

/* GLOBAL */
body {
    font-family: 'Roboto', sans-serif;;
    margin: 0;
    background-color: var(--primary-1);
}

.content {
    margin-top: 58px;
}

.hidden-element {
    display: none;
}

.displayed-element {
    display: block;
}

.page-title {
    position: fixed;
    left: 0;
    z-index: 100000;
    padding: 5px 10px 10px 10px;
    
    font-size: 35px;
    vertical-align: middle;

    img {
        height: 50px;
        vertical-align: middle;
        margin-right: 10px;
    }
}

.menu{
    width: 100%;
    position: fixed;
    background-color: var(--primary-2);
    top: 0;
    left: 0;
    text-align: right;
    z-index: 10000;

    button {
        background-color: var(--secondary-1);
        border: none;
        color: var(--font-color-2);
        padding: 15px 32px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: var(--secondary-1-hover);
    }
}

.collection-link-container{
    margin-left: 20px;
    font-size: 30px;

    a {
        color: var(--secondary-1);
        text-decoration: none;

        img {
            height: 50px;
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}

.set {
    background-color: var(--primary-2);
    margin-bottom: 10px;
}

.deck {
    background-color: var(--primary-2);
    margin-bottom: 10px;
}

.set-container {
    position: sticky;
    background-color: var(--primary-2);
    margin-bottom: 5px;
    top: 110px;
    padding: 10px;
    z-index: 1000;
}

.deck-container {
    background-color: var(--primary-2);
    margin-bottom: 5px;
    top: 110px;
    padding: 10px;
    z-index: 1000;
}

.deck-complete {
    background-color: var(--ok);
}

.deck-incomplete {
    background-color: var(--ko);
}


.set-name {
    font-size: 30px;
    vertical-align: middle;
    display: inline-block;
}

.deck-name {
    font-size: 30px;
    vertical-align: middle;
    display: inline-block;
}

.set-info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;

    strong {
        font-size: 22px;
        color: var(--highlight);
    }

    div {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
    }
}

.set-info-secondary{
    font-size: 13px;
    margin-left: 50px
}

.max-pull {
    color: var(--ko);
}

.hide-set {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    margin-left: 10px;

    button {
        background-color: var(--secondary-1);
        border: none;
        color: var(--font-color-2);
        padding: 5px 8px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }

    button:hover {
        background-color: var(--secondary-1-hover);
    }
}

.hide-deck {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    margin-left: 10px;

    button {
        background-color: var(--secondary-1);
        border: none;
        color: var(--font-color-2);
        padding: 5px 8px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }

    button:hover {
        background-color: var(--secondary-1-hover);
    }
}

.delete-deck {
    position: relative;
    top: 0;
    right: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    margin-left: 25px;
    text-align: right;

    button {
        background-color: var(--secondary-1);
        border: none;
        color: var(--font-color-2);
        padding: 5px 8px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }

    button:hover {
        background-color: var(--secondary-1-hover);
    }
}

.hide-sets {
    
    position: fixed;
    right: 90px;
    top: 70px;
    z-index: 10000000000;

    button {
        background-color: var(--secondary-1);
        border: none;
        color: var(--font-color-2);
        padding: 5px 8px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }

    button:hover {
        background-color: var(--secondary-1-hover);
    }
}

.hide-decks {
    
    position: fixed;
    right: 90px;
    top: 70px;
    z-index: 10000000000;

    button {
        background-color: var(--secondary-1);
        border: none;
        color: var(--font-color-2);
        padding: 5px 8px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }

    button:hover {
        background-color: var(--secondary-1-hover);
    }
}

.card {
    width: 180px;
    height: 281.8px;
    display: inline-block;
    margin-left: 8px;
    margin-bottom: 10px;
    position: relative;
}

.card-image {
    width: 180px;
    height: 251.8px;
    display: block;

    img {
        width: 180px;
        height: 251.8px;
    }
}

.card-name {
    width: 180px;
    margin-top: 3px;
    height: 25px;
    display: block;
}

.filters {
    height: 52px;
    background-color: var(--primary-1);
    position: sticky;
    top: 58px;
    z-index: 10000000000;
}

.filter {
    padding: 10px;
    font-size: 25px;
    display: inline-block;

    input {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        accent-color: var(--secondary-1);
        background: var(--ko);
        border: none;
    }

    select {
        width: 100px;
        height: 20px;
        font-size: 16px;
        font-weight: bold;
        vertical-align: middle;
        background: var(--secondary-1);
        border: none;
        border-radius: 10px;
    }
}

.global-stats {
    position: fixed;
    top: 15px;
    left: 300px;
    background-color: transparent;
    z-index: 100000000;
    font-size: 25px;
}

.global-stats-element {
        display: inline-block;
        vertical-align: middle;
        margin-right: 30px;
}

.missing-card {
    opacity: 50%;
}

.copy-clipboard {
    position: fixed;
    z-index: 10000000000;
    top: 65px;
    right: 20px;

    button {
        background-color: var(--secondary-1);
        border: none;
        color: var(--font-color-2);
        padding: 3px 10px 5px 10px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: var(--secondary-1-hover);
        color: var(--font-color-1);
    }
}

.copy-clipboard-message {
    position: fixed;
    z-index: 10000000000;
    top: 120px;
    right: 20px;
}

/* COLLECTION */
.set-card-count {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.clickable-card {
    background-color: transparent;
    border: none;
    padding: 0;
    text-align: left;
    font-family: 'Roboto';
    font-size: 16px;
    cursor: pointer;
}

.save-collection {
    position: fixed;
    width: 100%;
    bottom: 15px;
    text-align: center;
    z-index: 100000;

    button {
        background-color: var(--secondary-1);
        border: none;
        color: var(--font-color-2);
        padding: 15px 32px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: var(--secondary-1-hover);
        color: var(--font-color-1);
    }
}

.card-tradable {
    width: 40px;
    height: 40px;
    position: absolute;
    display: flex;
    font-size: 15px;
    top: 0px;
    right: 0px;
    z-index: 10;
    font-size: 10px;
    font-weight: bold;

    .img {
       width: 40px;
        height: 40px;
    }
}

.card-costs {
    width: 180px;
    height: 20px;
    position: absolute;
    display: flex;
    justify-content: right;
    color: rgba(0, 0, 0);
    font-size: 15px;
    top: 245px;
    left: 0;
    z-index: 10;
    font-size: 10px;
    font-weight: bold;

    .trade {
        width: 100px;
        display: inline-block;
        text-align: left
    }

    .pack {
        width: 83.5px;
        display: inline-block;
        text-align: right
    }
}

.card-counter {
    width: 180px;
    height: 251.8px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    font-size: 60px;
    top: 0;
    left: 0;
    z-index: 10
}

.card-pack-name {
    width: 180px;
    height: 20px;
    position: absolute;
    display: flex;
    justify-content: right;
    color: rgba(0, 0, 0, 0.9);
    font-size: 15px;
    top: 230px;
    left: 0;
    z-index: 10
}

.recyclable-tradable {
    border: 3px solid var(--highlight);
    border-radius: 10px;
}

.total-trade-points {
    padding: 10px;
}

.deck-creator-name {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2000000000000;
    top: 70px;
    vertical-align: too;
    padding-left: 20px;
    font-size: 25px;

    input {
        margin-right: 20px;
        background-color: var(--secondary-1);
        border-radius: 20px;
    }
}