body {
    font-family: 'Roboto';
    margin: 0;
    background-color: #FFFAA0;
}

.menu{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;

    button {
        background-color: grey; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #008CBA;
    }
}

.page-title {
    padding: 10px;
    font-size: 40px;
}

.total-trade-points {
    padding: 10px;
}

.set {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.set-name {
    font-size: 30px;
    margin-bottom: 15px;
    display: inline-block;
}

.card {
    width: 183.5px;
    height: 286px;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 10px;
    position: relative;
}

.card-image {
    width: 183.5px;
    height: 256px;
    display: block;

    img {
        width: 183.5px;
        height: 256px;
    }
}

.card-name {
    width: 183.5px;
    margin-top: 3px;
    height: 25px;
    display: block;
}

.card-costs {
    width: 183.5px;
    height: 20px;
    position: absolute;
    display: flex;
    justify-content: right;
    color: rgba(0, 0, 0);
    font-size: 15px;
    top: 245px;
    left: 0;
    z-index: 10;
    font-size: 10px;
    font-weight: bold;

    .trade {
        width: 100px;
        display: inline-block;
        text-align: left
    }

    .pack {
        width: 83.5px;
        display: inline-block;
        text-align: right
    }
}

.card-counter {
    width: 183.5px;
    height: 256px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    font-size: 60px;
    top: 0;
    left: 0;
    z-index: 10
}

.card-pack-name {
    width: 183.5px;
    height: 20px;
    position: absolute;
    display: flex;
    justify-content: right;
    color: rgba(0, 0, 0, 0.9);
    font-size: 15px;
    top: 230px;
    left: 0;
    z-index: 10
}

.filter {
    padding: 10px;
    font-size: 25px;
    display: inline-block;

    input {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        accent-color: #FFC300;
        background: red;
        border: none;
    }

    select {
        width: 100px;
        height: 20px;
        font-size: 16px;
        font-weight: bold;
        vertical-align: middle;
        background: #FFC300;
    }
}

.missing-cards-set-info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;

    div {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
    }
}

.recyclable-tradable {
    border: 3px solid #b20d78;
    border-radius: 10px;
}